.img {
    width: 210px;
    height: 300px;
    margin-top: 10px;
}

.img-big {
    width: 300px;
    height: 450px;
    margin-top: 10px;
}

.season-item{
  margin-left: 20px;
}

.episode-item{
  margin-left: 40px;
}
